[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = 147.45.125.8

[v3_req]
keyUsage = keyEncipherment, dataEncipherment, digitalSignature
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
IP.1 = 127.0.0.1
IP.2 = 147.45.125.8
IP.3 = 169.254.169.1
IP.4 = 169.254.8.1
IP.5 = 169.254.9.1
IP.6 = 34.34.253.193
