[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = 10.244.244.212

[v3_req]
keyUsage = keyEncipherment, dataEncipherment, digitalSignature
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = opensclaw.ai
DNS.3 = www.opensclaw.ai
IP.1 = 10.244.244.212
IP.2 = 127.0.0.1
IP.3 = 147.45.125.8
IP.4 = 172.17.0.1
IP.5 = 172.18.0.1
IP.6 = 172.19.0.1
IP.7 = 172.20.0.1
